*{
  margin: 0px;
}

nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar-img {
  width: 160px;
}

.App {
  text-align: center;
}
